#Dokumentation der Einstellungen. 
# STM32H743VI has DFU, you have to remove write protection first (STM32 Cube Programmer), than you can flash it by booting in DFU mode by pressing SW1 and SW2 together
# Klipper firmware build settings: STM32H743, no bootoader, 12MHz crystal (enable extra low-level configuraations), USB on PA11/PA12
# J1 - X- - PG0
# J2 - X+ - PG1
# J3 - unused - PB7
# J4 - Y- - PG2
# J5 - Y+ - PG3
# J6 - unsused - PG8
# J7 - Z- - PG4
# J8 - Z+ - PG5
# J9 - Filament runout 1,2 - PG7, PG6
# J13 - LED - PG15
# J15 - LED - PG15
# J16 - unused - PF0, PF1
# J17 - unsused - PC6,PG19
# J19 - JTAG/SerialWire - PA13, PA14, PA15, PB4, PB3
# J27 - Bed heating - PB15
# J28 - HE1,HE2 - PB6, PB9
# J29 - Head cable: E1 thermistor, E2 thermistor, Left_fan, Right Fan, Head lifter servo - PA5,PC5,PA6,PA7,PB14
# J31 - Bed thermistor - PB0
# J32 - unsued - PE5
# J33 - X, pul, dir, ena - PH11, PH7, PE15
# J34 - Y, pul, dir, ena - PH10, PH6, PE12
# J38 - Z, pul, dir, ena - PA3, PH5, PE2
# J37 - E1, pul, dir, ena - PA2, PH4, PE10
# J36 - E2, pul, dir, ena - PA1, PH3, PE8
# J35 - E3, pul, dir, ena - PA0, PH2, PE7
# - USB Led - PC0
# - Error LED - PC1
# - Run LED - PC2



# virtual_sdcard / display_status / pause_resume kommen aus mainsail.cfg (client.cfg).
# Hier nur die eigene Fehlerbehandlung ergaenzen (merged mit dem Mainsail-Block):

[virtual_sdcard]
on_error_gcode: CANCEL_PRINT


[include mainsail.cfg]
[include macros.cfg]

[exclude_object]

[gcode_arcs]


[force_move]
enable_force_move = True


[stepper_x]
step_pin = !PH11
dir_pin = !PH7
enable_pin = !PE15
microsteps = 16
rotation_distance = 40
endstop_pin = ^PG0
position_endstop = 0
position_max = 305.0
homing_speed = 90
position_min = 0
homing_retract_dist = 10
second_homing_speed = 5.0
homing_retract_speed = 90.0 #10


[stepper_y]
step_pin = !PH10
dir_pin = !PH6
enable_pin = !PE12
microsteps = 16
rotation_distance = 40
endstop_pin = ^PG2  # PA2 for Y-max
position_endstop = 0
position_max = 305.0
homing_speed = 90
position_min = 0
homing_retract_dist = 10
second_homing_speed = 5.0
homing_retract_speed = 90.0


[stepper_z]
step_pin = !PA3
dir_pin = PH5
enable_pin = !PE2
microsteps = 16
rotation_distance = 4
endstop_pin = ^PG4
position_min = -1
#position_endstop = 0
position_max = 605.0
homing_retract_dist = 5
homing_speed = 8
second_homing_speed = 2.0


[extruder]
pressure_advance = 0.046
smooth_time = 0.04
step_pin = PA2
dir_pin = PH4
enable_pin = PE10
microsteps = 16
rotation_distance = 7.3245
nozzle_diameter = 0.400
filament_diameter = 1.750
#control = pid
max_extrude_only_distance = 1000.0
#pid_kp = 27.2
#pid_ki = 1.56
#pid_kd = 118.3
adc_voltage = 3.3
heater_pin = PB9
sensor_type = AD595
sensor_pin = PA5
min_temp = 5
max_temp = 310
min_extrude_temp = 170
instantaneous_corner_velocity = 5.0
max_extrude_cross_section = 20


[extruder1]
pressure_advance = 0.046
smooth_time = 0.04
step_pin = PA1
dir_pin = PH3
enable_pin = PE8
microsteps = 16
rotation_distance = 7.3245
nozzle_diameter = 0.400
filament_diameter = 1.750
min_extrude_temp = 170
#control = pid
max_extrude_only_distance = 1000.0
#pid_kp = 21.1
#pid_ki = 0.9
#pid_kd = 119.6
adc_voltage = 3.3
heater_pin = PB6
sensor_type = AD595
sensor_pin = PC5
min_temp = 5
max_temp = 310
instantaneous_corner_velocity = 5.0
max_extrude_cross_section = 20


[heater_bed]
heater_pin = PB15
sensor_type = EPCOS 100K B57560G104F
sensor_pin = PB0
min_temp = 5
max_temp = 130

#control = watermark

[verify_heater heater_bed]
heating_gain = 2
check_gain_time = 300


[multi_pin my_fan_pins]
pins: PA7, PA6 #links PA6 rechts PA7


[fan]
pin = multi_pin: my_fan_pins
kick_start_time: 0.100
off_below: 0.0
max_power: 1.0




[verify_heater extruder]
check_gain_time = 120


[verify_heater extruder1]
check_gain_time = 120


[mcu]
# HIER BITTE DEINE USB ID EINTRAGEN---------------------------------------------
# HIER BITTE DEINE USB ID EINTRAGEN---------------------------------------------

serial = /dev/serial/by-id/usb-Klipper_stm32h743xx_BEISPIEL

# HIER BITTE DEINE USB ID EINTRAGEN---------------------------------------------
# HIER BITTE DEINE USB ID EINTRAGEN---------------------------------------------



[temperature_sensor mcu_temp]
sensor_type: temperature_mcu
min_temp: 0
max_temp: 100


[temperature_sensor raspberry_pi]
sensor_type: temperature_host
min_temp: 10
max_temp: 100



[printer]
kinematics = cartesian
max_velocity = 350
max_accel = 4000 #4800
#max_accel_to_decel: 3000 #4200
max_z_velocity = 15
max_z_accel = 100
square_corner_velocity = 6.0


[input_shaper]
shaper_freq_x = 27.4
shaper_freq_y = 28.9
shaper_type = mzv


[controller_fan mcu_fan]
pin: PG15
shutdown_speed:0
fan_speed: 1.0
idle_timeout: 30
heater:extruder, extruder1, heater_bed
stepper: stepper_x, stepper_y, stepper_z, extruder, extruder1


# Onboard-Treiber-Konfig/Enable-Leitungen - beim Boot einmalig statisch gesetzt.
[static_digital_output my_output_pins]
pins = 
	PB7,
	PE3,
	!PI1,
	PH13,
	!PH14,
	!PH15

# J6 / PG8: frei (max. 3,3V / 0,5mA) - kein output_pin noetig (siehe Pin-Doku oben).


# USB LED – leuchtet, wenn Klipper aktiv verbunden ist
[output_pin usb_led]
pin: PC0
pwm: False
value: 1
shutdown_value: 0


# Error LED – leuchtet bei Fehlern / Shutdown
[output_pin error_led]
pin: PC1
pwm: False
value: 0
shutdown_value: 1          # LED EIN im Fehlerfall


# Run LED – Heartbeat (MCU läuft)
[output_pin run_led]
pin: PC2
pwm: True
cycle_time: 3.0            # Blinkperiode = 1 Sekunde
value: 0.5
shutdown_value: 0


[fan_generic current_E0]
pin = PE13
cycle_time = 0.001


[fan_generic current_E1]
pin = PE11
cycle_time = 0.001


# Kopf-Anhebung (Servo/Aktor). Frueher verwirrend "extruder" genannt.
# Wird ueber [gcode_macro _HEAD_DOWN] gesteuert (VALUE=1 -> Kopf 0, VALUE=0 -> Kopf 1).
[output_pin head_lift]
pin = PB14
pwm: True
value = 1


[filament_switch_sensor F0]
switch_pin = PG7
pause_on_runout = True


[filament_switch_sensor F1]
switch_pin = PG6
pause_on_runout = True


[save_variables]
filename = ~/printer_data/config/variable.cfg


